<resources>
    <string name="config_clockFontFamily" translatable="false">google-sans-flex-clock</string>
    
    <string name="config_bodyFontFamily" translatable="false">google-sans-flex</string>
    <string name="config_bodyFontFamilyMedium" translatable="false">google-sans-flex</string>
    
    <string name="config_lightFontFamily" translatable="false">google-sans-flex</string>
    
    <string name="config_regularFontFamily" translatable="false">google-sans-flex</string>
    <string name="config_headlineFontFamily" translatable="false">google-sans-flex</string>
    
    <string name="config_headlineFontFamilyMedium" translatable="false">google-sans-flex</string>
</resources>
