<resources>
    <string name="config_clockFontFamily" translatable="false">google-sans-clock</string>
    
    <string name="config_bodyFontFamily" translatable="false">inter-text</string>
    <string name="config_bodyFontFamilyMedium" translatable="false">inter-text-medium</string>
    
    <string name="config_lightFontFamily" translatable="false">inter-text</string>
    
    <string name="config_regularFontFamily" translatable="false">inter-flex</string>
    <string name="config_headlineFontFamily" translatable="false">inter</string>
    
    <string name="config_headlineFontFamilyMedium" translatable="false">inter-medium</string>
</resources>
